In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('credit_data.csv')

In [3]:
data.head()

   i#clientid        income        age         loan  c#default
0           1  66155.925095  59.017015  8106.532131          0
1           2  34415.153966  48.117153  6564.745018          0
2           3  57317.170063  63.108049  8020.953296          0
3           4  42709.534201  45.751972  6103.642260          0
4           5  66952.688845  18.584336  8770.099235          1

In [4]:
data.columns

Index(['i#clientid', 'income', 'age', 'loan', 'c#default'], dtype='object')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 5 columns):
i#clientid    2000 non-null int64
income        2000 non-null float64
age           1997 non-null float64
loan          2000 non-null float64
c#default     2000 non-null int64
dtypes: float64(3), int64(2)
memory usage: 78.2 KB

In [6]:
# Temos três valores faltosos na coluna "AGE".

In [7]:
media_idade = np.round(data[data['age'] > 0]['age'].mean())
print(media_idade)

41.0

In [8]:
data = data.fillna(value = int(media_idade))

In [9]:
data['age'].dtype
# Não faz muito sentido termos a idade como float, portanto verificaremos a existência de valores inconsistentes

dtype('float64')

In [16]:
np.array_equal(data.age,data.age.astype(int))
# A coluna age possui números inconsistentes.

False

In [15]:
data['age'].describe()

count    2000.000000
mean       40.927917
std        13.251870
min        18.055189
25%        29.102161
50%        41.300710
75%        52.582340
max        63.971796
Name: age, dtype: float64

In [12]:
# Enxergamos a presença de valores inconsistentes, pois a idade não pode/deve ser negativa

In [13]:
data.loc[data.age < 0, 'age'] = media_idade

In [23]:
X = data[['income','age','loan']]

In [18]:
Y = data['c#default']

In [19]:
from sklearn.preprocessing import StandardScaler

In [24]:
scaler = StandardScaler()

In [25]:
X = scaler.fit_transform(X)

In [26]:
X

array([[ 1.45393393,  1.36536362,  1.20281942],
       [-0.76217555,  0.54264293,  0.69642695],
       [ 0.83682073,  1.67415457,  1.17471147],
       ...,
       [-0.07122592, -0.97450239,  0.35420081],
       [-0.11000289,  1.73935007, -0.92675625],
       [ 1.682986  ,  1.14915909,  0.96381038]])